---
import Layout from '@/layouts/Layout.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import CallToAction from '@/components/CallToAction.astro'
import Benefits from '@/components/Benefits.astro'
import Testimonials from '@/components/Testimonials.astro'
import VideoEmbed from '@/components/VideoEmbed.astro'

---

<Layout>
  <PageHead slot="head" title="Consulting" />
  <!--
  <Breadcrumbs items={[{ label: 'Consulting', icon: 'lucide:microscope' }]} />
  -->

  <section class="min-w-full">
    <div class="prose mb-8">

      <CallToAction
        title="A.I. sounds messy?"
        description="Get a clear view on the AI landscape, what it means for your company, and how to navigate it successfully."
        cta="Book a Call"
      />

      <!--
      <Benefits 
      items={[
        {
          title: "Stop bullshit",
          description: "sdn  dfa sdf asdfasdfasdf afds asd fa sdf as fasdf",
          icon: "lucide:mic",
        },
        {
          title: "Improv",
          description: "With more than 20 years of experience in Artificial Intelligence and a long practice in Improv Theatre, I bring to your event a unique blend of technical insight and dynamic storytelling.",
          icon: "lucide:drama",
        },
        {
          title: "Experience",
          description: "I have delivered talks at conferences, workshops, meetups, spontaneous gatherings, locally and internationally. If you need to make your event both insightful and lighthearted, get in touch.",
          icon: "lucide:map-pin-check-inside",
        },
        {
          title: "Experience",
          description: "I have delivered talks at conferences, workshops, meetups, spontaneous gatherings, locally and internationally. If you need to make your event both insightful and lighthearted, get in touch.",
          icon: "lucide:map-pin-check-inside",
        }   
      ]}
      />
      -->
      
      <VideoEmbed
        url="https://www.youtube.com/embed/sPKLRgrMMRM?si=SsS7EkoVuQi_9jZe"
      />

      <Testimonials />

      <CallToAction
        title="Let's have a chat"
        cta="Book a Call"
      />

    </div>
  </section>
</Layout>
