---
import Benefits from '@/components/Benefits.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import CallToAction from '@/components/CallToAction.astro'
import PageHead from '@/components/PageHead.astro'
import Testimonials from '@/components/Testimonials.astro'
import VideoEmbed from '@/components/VideoEmbed.astro'
import { CONTACT_FORMS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout>
  <PageHead slot="head" title="Public Speaking" />
  <!--
  <Breadcrumbs items={[{ label: 'Public Speaking', icon: 'lucide:mic' }]} />
  -->

  <section class="min-w-full">
    <div class="prose mb-8">
      <CallToAction
        title="Let's engage your crowd"
        description="Whether they're newcomers or established professionals, C-suites or blue collars. I'll get the message through, while they have fun, with a unique blend of tech expertise and storytelling."
        cta="Get Quote"
        href={CONTACT_FORMS.speaking}
      />

      <Image
        src={'/static/collage_public_speaking.png'}
        alt={'Collage Piero Public Speaking and Training'}
        width={1280}
        height={720}
        class="object-cover"
      />

      <Benefits
        items={[
          {
            title: 'Host a tech influencer',
            description:
              "I'm a trusted face in AI, with a 10k+ following on TikTok / YouTube / LinkedIn.",
            icon: 'lucide:youtube',
          },
          {
            title: 'A pleasure to attend',
            description:
              'High-energy delivery and live interaction, based on a long experience in improv theatre.',
            icon: 'lucide:drama',
          },
          {
            title: 'Hear the truth',
            description:
              '20 years hands-on in the AI field. Your people will hear the true story.',
            icon: 'lucide:bot',
          },
          {
            title: 'Complex made simple',
            description:
              'The toughest concepts in AI made accessible, actionable, and memorable.',
            icon: 'lucide:lightbulb',
          },
        ]}
      />

      <VideoEmbed
        url="https://www.youtube.com/embed/vai0IvrKS-k?si=xCARLwj9UP9GU4FF"
      />

      <Testimonials />

      <VideoEmbed
        url="https://www.youtube.com/embed/3l5b4VYBWfU?si=BzRO_cmGrrGIJrgc"
      />

      <CallToAction
        title="See you at the venue"
        cta="Get Quote"
        href={CONTACT_FORMS.speaking}
      />
    </div>
  </section>
</Layout>
