---

const items = [
    {
        url: "",
        alt: "Sony CSL",
    },
    {
        url: "",
        alt: "",
    },
    {
        url: "",
        alt: "",
    },
    {
        url: "",
        alt: "",
    }
]
---

<div class="py-12 px-6 text-center max-w-xl mx-auto">
    <!--
    <h3>Trusted by</h3>
    <div>
        {items.map( i => {
            return (
                <img src={i.url} alt={i.alt} />
            )
        })}
    </div>
    -->
</div>
