---
const { url } = Astro.props
const isYoutube = url.includes('youtube')
const isTiktok = url.includes('tiktok')
---

<div class="flex justify-center py-12">
  {
    isYoutube && (
      <iframe
        width="560"
        height="315"
        src={url}
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      />
    )
  }
  {
    isTiktok && (
      <Fragment>
        <blockquote
          class="tiktok-embed"
          cite={url}
          data-video-id={url.split('/').at(-1)}
          style="max-width: 605px;min-width: 325px;"
        >
          <section />
        </blockquote>
        <script async is:inline src="https://www.tiktok.com/embed.js" />
      </Fragment>
    )
  }
</div>
